<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Content/site.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bindWithDelay.js"></script> 
    <script src="~/Scripts/jquery.filtertable.js"></script> 
    <script src="~/Scripts/ConnectorStatus.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <link id="Link2" rel="icon" href="~/favicon.ico" type="image/ico" /> 
</head>
<body>
    <div class="nav-wrapper site-blue"> 
        <div>
            <a class="brand-logo" href="/">
                <img alt="Brand" src="../favicon.ico" style="max-height:30px;padding-left:100px;">
            </a>
        </div>
    </div>
    <div class="container body-content" style="width:100%">
        @RenderBody()
        <footer>
            <p>Arcadia Innovation Day</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
