<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bindWithDelay.js"></script> 
    <script src="~/Scripts/jquery.filtertable.js"></script> 
    <script src="~/Scripts/ConnectorStatus.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <link id="Link2" rel="icon" href="~/favicon.ico" type="image/ico" /> 
</head>
<body>
    <div id="spinner" class="spinner" style="display:none;">
        <img id="img-spinner" src="~/Content/Images/ajax-loader.gif" alt="Loading" />
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container">
            <a class="navbar-brand">
                <img alt="Brand" src="../favicon.ico" style="max-height:30px;">
            </a>
            <div class="navbar-header">
                @Html.ActionLink("REFRESH", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("| CONNECTOR STATUS", "Index", "ConnectorStatus", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("| CHARTS", "Index", "WorkLogs", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Arcadia Innovation Day</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
